body {
    background-color: #45515F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    text-align: center;
    padding: 15px;
    margin: 10px;
}

header h1 {
    font-size: 40px;
    color: #8DF88B;
    text-shadow: 0 0 3px #fff;
    
}

header p {
    color: white;
    padding: 10px;
}

.content {
    display: flex;
    flex-flow: row wrap;
}
.content{
display: flex;
flex-direction: row wrap;
}


.box {
    background-color: darkgray;
    width: 300px;
    border: 2px dashed white;
    padding: 50px;
    margin: 20px;
  }
.inside_text{

position: relative;
background-color: aliceblue;
width: 260px;
height: 150px;
top: 30px;
right: 30px;
border-radius: 10px;
}