body {
    background-color: darkgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    text-align: center;
}

header h1 {
    font-size: 20px;
    color: purple;
}

header p {
    color: white;
}
.content{
display: flex;
flex-direction: row wrap;
}


.box {
    background-color: darkgray;
    width: 300px;
    border: 2px dashed white;
    padding: 50px;
    margin: 20px;
  }
.inside_text{
    flex: ;
position: relative;
background-color: aliceblue;
width: 260px;
height: 150px;
top: 30px;
right: 30px;
border-radius: 10px;
}